body {
    padding: 0;
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
}
.gap {
    width: 100%;
    height: 40px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
ul li {
    list-style: none;
}
ul {
    padding: 0;
}
/* Main Cont */
.main-cont {
    margin-top: 105px;
}