body {
    padding: 0;
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
}
.gap {
    width: 100%;
    height: 40px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
/* Body */
.main-cont {
    margin-top: 105px;
}
.content-1 {
    min-height: 200px;
}
.card-img-top:hover {
    transition: 0.3s;
    transform: scale(1.2);
}
.img-cont{
    overflow: hidden;
}
/* Footer */
.footer {
    background: #212529;
    color: #fff;
    padding: 3rem 2rem;
}
ul li {
    list-style: none;
}
ul {
    padding: 0;
}
.tilte-footer {
    text-transform: uppercase;
    color: #d8b14e;
}