/* Variable */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-text:#d8b14e;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
}
body {
    padding: 0;
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
}
.gap {
    width: 100%;
    height: 40px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
ul li {
    list-style: none;
}
ul {
    padding: 0;
}
/* Navigation */
.nav-item a {
    color: var(--bs-white);
}
.nav-pills .nav-link.active, .btn-nav-bar {
    background-color: var(--bs-primary-text);
}
/* HEADER */
.header {
    margin-top: 89px;
}
/* Main Cont */
.main-cont {
    /* margin-top: 105px; */
}

/* Image */
img {
    object-fit: cover;
}
/* Footer */
.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: var(--bs-dark);
    color: var(--bs-white);
    padding: 3rem 2rem;
}
.tilte-footer {
    margin-top: 15px;
    text-transform: uppercase;
    color: var(--bs-primary-text);
}
.contact-item {
    display: flex;
    flex-direction: row;
}
.item-item-contact {
    margin-left: 12px;
    cursor: pointer;
}
.useful-links-item:hover {
    color:var(--bs-white);
}
.useful-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* ICON */
.bi {
    font-size: 1.5rem;
    color:var(--bs-primary-text);
}
.login-btn {
    border: none;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}
.login-btn .bi {
    font-size: 1.2rem;
    margin-right: 5px;
    color: var(--bs-dark);
}
.img-footer {
    /* margin-bottom: 50px; */
}
.sub-content {
    color: #888888;
}
.pm-pn-cont {
    max-width: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
}
.pm-pn-item {
    padding: 0.6rem;
    max-width: 100px;
    height: 50px;
    border-radius: 2px;
    background-color: var(--bs-white);
}
.dl-item {
    max-width: 150px;
    max-height: 60px;
}
.dl-item img {
    width: 100%;
    height: 100%;
    column-gap: 1em;
}