/* Head */
.header {
    background: 
    linear-gradient(135deg, #48556380, #29323c),
    url('http://lab.finalterm.online/img/about-img.jpg') no-repeat center; 
    background-size: cover;
    min-height: 300px;
    display: grid;
    place-content: center;
    text-align: center;
    color: #fff;
}
.header h1 {
    text-transform: uppercase;
}
.header button {
    width: 175px;
    height: auto;
    border: 2px solid #ffcd4d;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffcd4d;
    background-color: transparent;
    padding: 0.3rem 1rem;
}
.header button:hover {
    transition: .3s;
    background-color: #212529;
}
/* Body */
/* Reponsive here */
@media screen and (min-width:992px) {
    .header {
        height: 600px;
        clip-path: polygon(0% 0%, 100% 0, 100% 89%, 57% 94%, 0% 100%);
    }
    .img-header {
        clip-path: polygon(0 0, 92% 0, 75% 100%, 0% 100%);
    }
    .img-content-2 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 19% 100%);
    }
}
@media screen and (min-width:577px){
    .header {
        font-size: 1.1rem;
    }
}
.card-img-top:hover {
    transition: 0.8s;
    transform: scale(1.5);
}
.img-cont{
    overflow: hidden;
}
