.customer img{
    width: 100%;
    display: block;
}
/** title */
.title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: var(--secondary-color);
    border-bottom: 5px solid var(--text-dark);
    width: 235px;
    margin: 15px 0;
}

.sec-width{
    width: 85vw;
    margin: 0 auto!important;
}
.customers{
    /* margin-top: 40px; */
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/src/img/customer-banner.jpg") center/cover no-repeat fixed;
}
.customer{
    background: #fff;
    padding: 35px;
    text-align: center;
    margin: 24px 0;
    box-shadow: 5px 10px 15px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: all 0.7s ease;
}
.rating{
    margin: 10px 0;
    color: var(--text-yellow);
}
.customer h3{
    font-size: 25px;
}
.customer p{
    opacity: 0.7;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;
}
.customer img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 25px auto;
}
.customer span{
    font-weight: 700;
    opacity: 0.7;
}
.customer:hover{
    transform: translateY(-18px);
}
@media(min-width: 992px){
    .customers-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}
@media(min-width: 1370px){
    .customers-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 500px){
    .customer p{
        width: 100%;
    }
    .customer img{
        width: 100px;
        height: 100px;
    }
}
