.main-cont-home {
    /* margin-top: 80px; */
}
.fw-content {
    padding: 2.5rem 0;
    background-color: #ffcd4d;
}
.last-content {
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0 100%, 0% 50%);
}
.col-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.col-img,
.col-lft {
    padding: 0;
}

.img-lft {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.col-content {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 0 5rem;
    display: grid;
    place-content: center;
    text-align: center;
}
.top-content {
    
}

@media screen and (max-width:1000px) {
    .last-content {
        display: none;
    }
    @media screen and (max-width:767.5px){
        .img-cont-header {
            display: none;
        }
    }
    @media screen and (max-width:376px){
        .container h3 {
            text-align: center;
        }
        .btn-contact-end {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
@media screen and (min-width:377px) {
    .btn-contact-end {
        clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    }
}


/* searching form */
.cont-search {
    /* display: flex; */
}
.searching-form {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    min-height: 120px;
    /* max-width: 800px; */
}
.search-input {
    max-width: 800px;
}
.btn-fsearch {
    padding: 0 0.5rem;
}

/*  */
.btn-contact-end {
    text-transform: uppercase;
    font-size: 0.7rem;
    border: none;
    min-width: 100px;
    padding: 0.3rem 0.5rem;
    background: #212529;
}

/* .block-outer{
    width: 500px;
    height: 100px;
    border-right: 2px solid #fff;
    clip-path: circle(50% at 50% 50%);
} */
.block-inner{

}

.contact-content {
    overflow: hidden;
}