/* Variable */

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-text: #d8b14e;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    /*Background Color*/
    --primary-color: #021832;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;
    --primary: #0d6efd;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    /*Text Style*/
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #021832;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;
}



.main-cont-home {
    /* margin-top: 80px; */
}

.last-content {
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0 100%, 0% 50%);
}

/* Edit */
.fw-content-first{
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/src/img/home-bg.jpg") center/cover no-repeat fixed;
}

.fw-content-second{
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/src/img/home-bg-outside.jpg") center/cover no-repeat fixed;
}

.col-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.col-img,
.col-lft {
    padding: 0;
}

.img-lft {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.col-content {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 0 5rem;
    display: grid;
    place-content: center;
    text-align: center;
}
.top-content {
    
}

@media screen and (max-width:1000px) {
    @media screen and (max-width:767.5px){
        .img-cont-header {
            display: none;
        }
    }
    @media screen and (max-width:450px){
        
    }
}


/* searching form */
.cont-search {
    /* display: flex; */
}
.searching-form {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    min-height: 120px;
    /* max-width: 800px; */
}
.search-input {
    max-width: 800px;
}
.btn-fsearch {
    padding: 0 0.5rem;
}


.contact-content {
    overflow: hidden;
}


section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(8px);
}


/* Team */

.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--secondary-color);
    border-radius: 2px solid var(--secondary-color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--secondary-color);
}

.social-icons a:hover {
    border-color: var(--bg-color);
    transform: translateY(-3px);
}