.modal_external {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  /* transform: translate(-50%, -50%); */
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 100; 
  background-color: #212529;
  width: 500px;
  max-width:100%;
}

.modal_external.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.modal-header .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.modal-body {
  padding: 1.3rem 2rem;
  /* gap: 1re; */
}
.modal-body .items {
  margin-bottom: .56rem;
}

.modal-body .signIn-btn {
  font-weight: 600;
}

#overlay {
  z-index: 10;
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* sign up */
.fg-sup-cont{
  padding: 0 2rem;
  padding-bottom: 1rem;
}

.fg-sup-cont a {
  color: #fff;
  text-decoration: none;
}
.forgt-pssw-link{
  border-right: 1px solid #fff;
  padding: 0 .4rem;
}
/* .signUp-link{
} */

.modal_external_signUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  /* transform: translate(-50%, -50%); */
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 100; 
  background-color: #212529;
  width: 500px;
  max-width:100%;
}

.modal_external_signUp.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header-signUp {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.modal-header-signUp .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header-signUp .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.modal-body-signUp {
  padding: 1.3rem 2rem;
  /* gap: 1re; */
}
.modal-body-signUp .items {
  margin-bottom: .56rem;
}

.modal-body-signUp .signIn-btn {
  font-weight: 600;
}

/* Social icon */
.con-wth-social{
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  padding: 0 2rem;
  padding-bottom: 1rem;
  gap: .3rem;
}
.con-wth-social a {
  text-decoration: none;
  color: #fff;
}
.con-wth-social .item-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  background-color: #ffc107;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.con-wth-social .item-cont p {
  margin-bottom: 0;
  margin-left: .5rem;
  color: #212529;
  font-weight: 600;
}
.con-wth-social .item-cont .bi{
  color: #212529;
}
.with-fb {

}
.with-ins{

}

/* Element */
input[type="text"], 
input[type="password"],
input[type="email"] {
  width: 100%;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="email"] {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}